name: tests

on:
  push:
    branches:
      - master
      - main
      - next
  pull_request:
    branches:
      - master
      - main
      - next

jobs:
  changed_states:
    runs-on: ubuntu-latest
    steps:
      - id: files
        uses: jitterbit/get-changed-files@b17fbb00bdc0c0f63fcf166580804b4d2cdc2a42 # v1
        with:
          format: "json"
      - id: filter
        run: |
          echo "filtered_files=$(jq -rMc '[.[] | select(. | contains(".sls")) | select(. | contains("init") | not) | sub("/"; "."; "g") | sub(".sls"; ""; "g")]' <<< '${{ steps.files.outputs.added_modified }}')" > $GITHUB_OUTPUT
    outputs:
      matrix: ${{ steps.filter.outputs.filtered_files }}

  test_states:
    needs: changed_states
    runs-on: ubuntu-latest
    if: ${{ needs.changed_states.outputs.matrix != '[]' }}
    strategy:
      matrix:
        salt: [3007, 3006]
        os: [22.04, 24.04]
        state: ${{ fromJson(needs.changed_states.outputs.matrix) }}
        include:
          - os: 24.04
            code: noble
          - os: 22.04
            code: jammy
    container:
      image: docker://ghcr.io/ekristen/cast-tools/saltstack-tester:${{ matrix.os }}-${{ matrix.salt }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: test-state
        run: |
          salt-call --local -l info --file-root . --retcode-passthrough --state-output=mixed state.sls ${{ matrix.state }} pillar="{sift_user: root}"
